{% extends "base_generic.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="mb-4">Вход</h2>
                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3" style="width: 100px">
                        <label>Логин</label>
                        {{ form.username }}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                Неверный логин или пароль
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3" style="width: 100px">
                        <label>Пароль</label>
                        {{ form.password }}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                Неверный логин или пароль
                            </div>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}