{% extends "base_generic.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Регистрация</h2>
            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    {{ form.full_name.label_tag }}
                    {{ form.full_name }}
                    {% if form.full_name.errors %}
                    <div class="text-danger">{{ form.full_name.errors }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                    <div class="text-danger">{{ form.username.errors }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {% if form.email.errors %}
                    <div class="text-danger">{{ form.email.errors }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {% if form.password.errors %}
                    <div class="text-danger">{{ form.password.errors }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                    <div class="text-danger">{{ form.password2.errors }}</div>
                    {% endif %}
                </div>

                <div class="mb-3 form-check">
                    <input class="form-check-input" type="checkbox" name="{{ form.consent.name }}"
                           id="{{ form.consent.id_for_label }}"
                           {% if form.consent.value %} checked {% endif %} required>

                    <label class="form-check-label" for="{{ form.consent.id_for_label }}">
                        {{ form.consent.label }}
                    </label>

                    {% if form.consent.errors %}
                    <div class="text-danger">{{ form.consent.errors }}</div>
                    {% endif %}

                </div>

                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}